*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.container {
  width: 1280px;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

.first-section{
  
}
.first-div{
  background-color:#576F35;
  display:flex;
  flex-direction: column;
  padding-bottom: 50px;
  gap:128px;
  padding-left:100px;
  padding-top:238px;
  background-image: url(/images/healty\ food.jpg);
  background-repeat: no-repeat;
  background-position: right;
  
}

.first-div .title{
  font-family:"Inter Tight" sans-serif;
  font-weight: 600;
  font-size: 76px;
  line-height: 1;
  letter-spacing: -1.5%;
  color: #FBFBFB;
  text-align: left;
  width: 502px;
  height: 304px;
  margin-bottom:128px;
  
}


.explain{
  font-family:"Inter Tight" sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: #FBFBFB;
  width: 472px;
  height: 80px;
}

.first-image{
  width: 650px;
  height:800px;
  background-image: linear-gradient(rgba(20, 20, 20, 0.2)); 

}
