*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container{
  width: 1280px;
  margin: 0 auto;
}


.organic-vegatables{
  background-color: #7A3145;
  
}

.main-text{
  font-weight: 600;
  font-size: 64px;
  line-height: 64px;
  color: #FBFBFB;
  letter-spacing: -1.5%;
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.main-text > .opacity-vegetables-text{
  font-weight: 600;
  font-size: 64px;
  line-height: 64px;
  color: #FBFBFB;
  opacity: 0.3;
  letter-spacing: -1.5%;
}

.info-text{
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FBFBFB;
  width: 626px;
  margin: 5%;
}

.products-list{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 0.5%;
  row-gap: 0.1%;
  margin: 5%;
  
}

.product-card{
  background-color: #FBFBFB;
  border-radius: 40px;
  gap: 10px; 
  width: 346px;
  padding: 5%;
  margin: 5%;
  
  
  
}

.product-card > h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5%;
  color: #7A3145;
  margin-left: 10px 0;
}

.product-card > p{
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -1.5%;
  color:#141414;
  margin-top: 2%;

}


